<%= form_tag({action: :create, method: :post}, :class => 'form-signin') do %>
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <fieldset>
    <legend>Please Log In</legend>

    <div>
      <%= label_tag :name, 'Name:' %>
      <%= text_field_tag :name, params[:name], class: "form-control" %>
    </div>

    <div>
      <%= label_tag :password, 'Password:' %>
      <%= password_field_tag :password, params[:password], class: "form-control" %>
    </div>

    <p>
  	  <a href="signup">Sign Up</a><br>
    </p>

    <p>
    <a href="password_reset">Forgot Password?</a><br>
    </p>

    <div>
      <%= submit_tag "Login", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </fieldset>
<% end %>
