  <h2>Address Information</h2>

<%= f.fields_for :address do |f_address| %>

  <div class="form-group">
    <%= f_address.label :street %><br>
    <%= f_address.text_field :street, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f_address.label :city %><br>
    <%= f_address.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f_address.label :state %><br>
    <%= f_address.text_field :state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f_address.label :zip %><br>
    <%= f_address.text_field :zip, class: "form-control" %>
  </div>

<% end %>