<p id="notice"><%= notice %></p>

<h1>Listing Enrollments</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">Course Number</th>
      <th colspan="1">Course Name</th>
      <th colspan="1">Course Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_number %></td>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= button_to 'Add Course', enrollments_path(course_id: course), method: :post, remote: true %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<div id="current_enrollments">
  <%= render 'enrollments', enrollments: @enrollments %>
</div>

<br>

<%# link_to 'New Enrollment', new_enrollment_path %>
