<!DOCTYPE html>
<html>
<head>
  <title>Bvcs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>
  <%= link_to 'Logout', logout_path, method: :delete %>
  <%= link_to 'Home', dashboard_path %>
  <%= link_to 'Register', enrollments_path %>
  <%= link_to 'Account Settings', user_path(session[:user_id]) %>
<% end %>

<%= yield %>
</body>
</html>
